<h1>Subscribe to Newsletter</h1>
<p> To valid Your subscription click here :
    <a href="{{ absolute_url(path('confirm',{'id' : user.id , 'token' :token }))}}">
        confirm subscription
    </a> </p>
